*{
    -webkit-transition: all .35s ease-in-out; /* Safari 3.1 to 6.0 */
    transition: all .35s ease-in-out;
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}


h1, h2, h3, h4, h5, h6, p, body, li{
    font-family: "San Francisco","Helvetica Nueue", sans-serif;
    letter-spacing: 0;
    margin-bottom: 0;
    color: #2C3740;
    font-weight: 200;
    letter-spacing: .01em;
}

a {
    text-decoration: none;
    color: #576A74;
}

a:hover{
  color:#1B2023;
}

h1, .text-1 {
    font-size: 32px;
    line-height: 51px;
}

h2, .text-2 {
    font-size: 24px;
    line-height: 38px;
}

p, .text-3{
    font-size: 18px;
    line-height: 29px;
}


.u-grey-1{
    color:#2C3740;
}

.u-grey-2{
    color:#576A74;
}

.u-grey-3{
    color:#8DA0A2;
}

.u-accentColor{
    color: #E05B5B;
}

.u-accentColor:hover{
    color: #A7524F;
}

.u-secondaryColor{
    color: #8DA0A2;
}

.u-bold{
    font-weight: 600;
}

#work a{
  color: #E05B5B;
}

#work a:hover{
  color: #A7524F;
}


/*Components*/
.container--header{
    margin-top: 160px;
    margin-bottom: 160px;
}

ul.header-links li{
    margin-right: 12px;
}

ul.footer-links{
    list-style:none;
}

ul.header-links--inline li{
    display: inline-block;
}

.card{
    padding-top: 160px;
    padding-bottom: 160px;
    border-bottom: 1px solid #E6E6E6;
}

